.page {
  padding: 0 10px;
  box-sizing: border-box;
}

.page__title {
  color: #555555;
  padding: 3px;
  border-radius: 5px;
  text-align: center;
  background: linear-gradient(90deg, #F2CC1F 0%, #E3A31D 100%);
}

.page__disclaimer {
  margin-bottom: 16px;
}
